---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects | Johnson Nguyen" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Finished Projects</div>
  </div>

  <HorizontalCard
    title="Misty From Abend Time"
    img="/projects/misty_thumbnail.png"
    desc="A Python script that integrates both Discord and TwitchAPI to announce twitch streams that go live in a discord server. Modelled off the fictional character, Misty from 'The Legend Of Heroes: Trails Of Cold Steel' series. This handy discord bot helps to announce streams that go live in Discord Communities"
    url="https://github.com/nguyen34/MistyAbendTime"
    badge="NEW"
  />
  <!-- <div class="divider my-0"></div> -->

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">WIP Projects</div>
  </div>

  <HorizontalCard
    title="Kiseki Cafe Corner"
    img="/projects/kiseki_cafe_thumbnail.png"
    desc="Personal website and online platform for my VTuber Persona, Zen No Kiseki, The Chef of Cold Steel. This web application is built with React, Redux, TailwindCSS, MaterialUI as the frontend and Python, Django, and PostgreSQL as the backend. Features TBD include Twitch and Youtube Integrations, a blog, a Karaoke sub-app and Recipe manager"
    url="https://github.com/nguyen34/KisekiCafeCorner"
    badge="WIP"
  />
</BaseLayout>
